<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0.0"
        id        = "org.vedaproject.mobile"
        versionCode="05" 
        version   = "2.9.0">

	<!-- Application Name --> 
    <name>Veda Project Mobile</name>

	<!-- Description -->
    <description>The Veda Project Mobile App</description>

	<!-- Author -->
    <author href="http://www.zenfactory.org" email="hshirani@zenfactory.org">zenfactory.org</author>

	<!-- Screen Orientation -->
	<preference name="orientation" value="landscape" />

	<!-- Fullscreen -->
	<preference name="fullscreen" value="true" />

	<!-- Splash Screen -->
	<gap:splash src="img/splash/hdpi.png" />
	<gap:splash src="img/splash/ldpi.png"  gap:platform="android" gap:density="ldpi" />
	<gap:splash src="img/splash/mdpi.png"  gap:platform="android" gap:density="mdpi" />
	<gap:splash src="img/splash/hdpi.png"  gap:platform="android" gap:density="hdpi" />
	<gap:splash src="img/splash/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<splash src="img/splash/hdpi.png" />
	<splash src="img/splash/ldpi.png"  gap:platform="android" gap:density="ldpi" />
	<splash src="img/splash/mdpi.png"  gap:platform="android" gap:density="mdpi" />
	<splash src="img/splash/hdpi.png"  gap:platform="android" gap:density="hdpi" />
	<splash src="img/splash/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<!-- Splash Screen Duration -->
	<preference name="splash-screen-duration" value="100000"/>
	
	<!-- Icon Settins -->
	<icon src="images/platform-icons/96.png" />
	<icon src="images/platform-icons/36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="images/platform-icons/48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="images/platform-icons/72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="images/platform-icons/96.png" gap:platform="android" gap:density="xhdpi" />

</widget>
