/* Body to 100%, remove padding, margins and borders*/
body
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.section-header-inactive
{
	background-image: url("images/section-header-wide.png");
	background-repeat: no-repeat;
	background-size: 100% 97px;
	height: 97px;
	width: 99%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.section-header-active
{
	background-image: url("images/section-header-wide-active.png");
	background-repeat: no-repeat;
	background-size: 100% 97px;
	height: 97px;
	width: 99%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.section-icon
{
	margin-left: 10px;
	margin-top: 6px;
	height: 86px;
	width: 86px;
}

.section-copy
{
	color: white;
	font-size: 30pt;
	line-height: 97px;
	vertical-align: top;
	display: inline-block;
	clear: none;
}

.section-content
{
	display: none;
	margin-top: 10px;
	margin-left: 8px;
}

.section-arrow
{
	position: absolute;
	float: right;
	right: 20px;
	margin-top: 20px;
}

iframe
{
}

ul
{
	list-style-type: none;
	padding: 10px;
}

li
{
	clear: both;
}

.section-response
{
	clear: both;
	display: none;	
}
.section-quiz
{
	display: block;
	margin: 10px;
}

.section-quiz-question-response-input
{
	float: left; 
	clear: none;
}

.section-quiz-question-response-label
{
	float: left; 
	clear: none;
}
