/* Body to 100%, remove padding, margins and borders*/
/*
body
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
*/

.section-header-inactive
{
	background-image: url("images/section-header-wide.png");
	background-repeat: no-repeat;
	background-size: 100% 97px;
	height: 97px;
	width: 99%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.section-header-active
{
	background-image: url("images/section-header-wide-active.png");
	background-repeat: no-repeat;
	background-size: 100% 97px;
	height: 97px;
	width: 99%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.section-icon
{
	margin-left: 10px;
	margin-top: 6px;
	height: 86px;
	width: 86px;
}

.section-copy
{
	color: white;
	font-size: 20px;
	line-height: 97px;
	vertical-align: top;
	display: inline-block;
	clear: none;
}

.section-content
{
	display: none;
	margin-top: 10px;
	margin-left: 8px;
	text-align: center;
}

.section-arrow
{
	position: absolute;
	float: right;
	right: 20px;
	margin-top: 20px;
}

iframe
{
	text-align: center;
	max-width: 100%;
	width: 100%;
	height: 315px; 
}

ul
{
	list-style-type: none;
	padding: 10px;
}

li
{
	clear: both;
}

.section-response
{
	clear: both;
	display: none;	
	padding-bottom: 20px;
}
.section-quiz
{
	display: block;
	margin: 10px;
}

.section-quiz-question-response-input
{
	float: left; 
	clear: none;
}

.section-quiz-question-response-label
{
	float: left; 
	clear: none;
	font-size: 40%;
}

.section-quiz-question
{
	font-size: 70%;
}

.question-response
{
	text-align: left;
	display: none;
	font-size: 60%;
	padding-bottom: 20px;
}

.question-show-response:hover 
{
	height: 49px;
	width: 15%;
	background-image: url("images/show-response-hover.png");
}
.question-show-response
{
	/*border: 1px solid black;*/
	/*background-color: #9e1c20;*/
	/*background-width: 20%;*/
	/*background-height: 5%;*/
	background-image: url("images/show-response.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 49px;
	width: 15%;
	/*font-size: 15px;*/
	/*text-align: center;*/
	/*font-weight: bold;*/
	clear: none;
	display: none;
}

.question-hide-response
{
	background-image: url("images/hide-response.png");
}

.question-hide-response:hover
{
	background-image: url("images/hide-response-hover.png");
}

.answer-validity-container
{
	display: inline-block;	
	float: right;
	position: relative;
	left: 50%;
	top: 8px;
}

.video-container
{
	text-align: center;
}

.go-back-btn
{
	padding: 0 10px 0 10px;
	background-color: #f8892a;
	border: 1px solid black;
	margin: 10px 10px 10px 10px;
}

.show-quiz-btn
{
	padding: 0 10px 0 10px;
	background-color: #f8892a;
	border: 1px solid black;
	margin: 10px 10px 10px 10px;
}

.section-question
{
	text-align: left;
	display: none;
}
